data_UPA/2 - Act Declinos 2023.xlsx
data_UPA/3 - Act Crono GiDi.xlsx
data_UPA/declino_pozos.xlsx
data_UPA/historico_controles.xlsx
data_UPA/Materiales_UPA.xlsx
data_UPA/parque_actual.xlsx
data_UPA/ultimas_presiones.xlsx
data_UPA/Ultimo_crono_PU.xlsx
data_UPA/ultimos_controles.xlsx
data_UPA/UPA IP 2024-12 Con CTU.xlsx
Datos_Historicos/01 - Enero/datos_prueba/CNS_NOC_LOC_PAD.xlsx
Datos_Historicos/01 - Enero/datos_prueba/CNS_NOC_PI.xlsx
Datos_Historicos/01 - Enero/datos_prueba/CNS_NOC_TOW_CONTROLES.xlsx
Datos_Historicos/01 - Enero/datos_prueba/CNS_NOC_TOW_PAR_PERD.xlsx
Datos_Historicos/01 - Enero/datos_prueba/FDD_CNS_NOC_OW_INSTALACIONES.xlsx
Datos_Historicos/01 - Enero/datos_prueba/GIDI_POZO - PA AdCh.xlsx
Datos_Historicos/01 - Enero/datos_prueba/GIDI_POZO.xlsx
Datos_Historicos/01 - Enero/datos_prueba/NOC_G&R_PERFIL_UPA_DECLINO-PA AdCh.xlsx
Datos_Historicos/01 - Enero/datos_prueba/NOC_G&R_PERFIL_UPA_DECLINO.xlsx
Datos_Historicos/01 - Enero/datos_prueba/PA_2025_Activos.xlsx
Datos_Historicos/01 - Enero/datos_prueba/UPS_DIM_COMPLETACION.xlsx
Datos_Historicos/01 - Enero/datos_prueba/UPS_FT_CABEZA_POZO.xlsx
Datos_Historicos/01 - Enero/datos_prueba/UPS_FT_PROY_CONSULTA_ACTIVIDAD.xlsx
Datos_Historicos/02 -Febrero/datos_prueba/CNS_NOC_LOC_PAD.xlsx
Datos_Historicos/02 -Febrero/datos_prueba/CNS_NOC_PI.xlsx
Datos_Historicos/02 -Febrero/datos_prueba/CNS_NOC_TOW_CONTROLES.xlsx
Datos_Historicos/02 -Febrero/datos_prueba/CNS_NOC_TOW_PAR_PERD.xlsx
Datos_Historicos/02 -Febrero/datos_prueba/FDD_CNS_NOC_OW_INSTALACIONES.xlsx
Datos_Historicos/02 -Febrero/datos_prueba/GIDI_POZO.xlsx
Datos_Historicos/02 -Febrero/datos_prueba/NOC_G&R_PERFIL_UPA_DECLINO.xlsx
Datos_Historicos/02 -Febrero/datos_prueba/PA_2025_Activos.xlsx
Datos_Historicos/02 -Febrero/datos_prueba/UPA_actual.xlsx
Datos_Historicos/02 -Febrero/datos_prueba/UPA_anterior.xlsx
Datos_Historicos/02 -Febrero/datos_prueba/UPS_DIM_COMPLETACION.xlsx
Datos_Historicos/02 -Febrero/datos_prueba/UPS_FT_CABEZA_POZO.xlsx
Datos_Historicos/02 -Febrero/datos_prueba/UPS_FT_PROY_CONSULTA_ACTIVIDAD.xlsx
Datos_Historicos/03 - Marzo/datos_prueba/CNS_NOC_LOC_PAD.xlsx
Datos_Historicos/03 - Marzo/datos_prueba/CNS_NOC_PI.xlsx
Datos_Historicos/03 - Marzo/datos_prueba/CNS_NOC_TOW_CONTROLES.xlsx
Datos_Historicos/03 - Marzo/datos_prueba/CNS_NOC_TOW_PAR_PERD.xlsx
Datos_Historicos/03 - Marzo/datos_prueba/FDD_CNS_NOC_OW_INSTALACIONES.xlsx
Datos_Historicos/03 - Marzo/datos_prueba/GIDI_POZO.xlsx
Datos_Historicos/03 - Marzo/datos_prueba/NOC_G&R_PERFIL_UPA_DECLINO - BES.xlsx
Datos_Historicos/03 - Marzo/datos_prueba/NOC_G&R_PERFIL_UPA_DECLINO.xlsx
Datos_Historicos/03 - Marzo/datos_prueba/PA_2025_Activos.xlsx
Datos_Historicos/03 - Marzo/datos_prueba/UPA_actual.xlsx
Datos_Historicos/03 - Marzo/datos_prueba/UPA_anterior.xlsx
Datos_Historicos/03 - Marzo/datos_prueba/UPS_DIM_COMPLETACION.xlsx
Datos_Historicos/03 - Marzo/datos_prueba/UPS_FT_CABEZA_POZO.xlsx
Datos_Historicos/03 - Marzo/datos_prueba/UPS_FT_PROY_CONSULTA_ACTIVIDAD.xlsx
Datos_Historicos/04 - Abril/datos_prueba/CNS_NOC_LOC_PAD.xlsx
Datos_Historicos/04 - Abril/datos_prueba/CNS_NOC_PI.xlsx
Datos_Historicos/04 - Abril/datos_prueba/CNS_NOC_TOW_CONTROLES.xlsx
Datos_Historicos/04 - Abril/datos_prueba/CNS_NOC_TOW_PAR_PERD.xlsx
Datos_Historicos/04 - Abril/datos_prueba/FDD_CNS_NOC_OW_INSTALACIONES.xlsx
Datos_Historicos/04 - Abril/datos_prueba/GIDI_POZO.xlsx
Datos_Historicos/04 - Abril/datos_prueba/NOC_G&R_PERFIL_UPA_DECLINO - BES.xlsx
Datos_Historicos/04 - Abril/datos_prueba/NOC_G&R_PERFIL_UPA_DECLINO.xlsx
Datos_Historicos/04 - Abril/datos_prueba/PA_2025_Activos.xlsx
Datos_Historicos/04 - Abril/datos_prueba/UPA_actual.xlsx
Datos_Historicos/04 - Abril/datos_prueba/UPA_anterior.xlsx
Datos_Historicos/04 - Abril/datos_prueba/UPS_DIM_COMPLETACION.xlsx
Datos_Historicos/04 - Abril/datos_prueba/UPS_FT_CABEZA_POZO.xlsx
Datos_Historicos/04 - Abril/datos_prueba/UPS_FT_PROY_CONSULTA_ACTIVIDAD.xlsx
Datos_Historicos/05 - Mayo/datos_prueba/CNS_NOC_LOC_PAD.xlsx
Datos_Historicos/05 - Mayo/datos_prueba/CNS_NOC_PI.xlsx
Datos_Historicos/05 - Mayo/datos_prueba/CNS_NOC_TOW_CONTROLES.xlsx
Datos_Historicos/05 - Mayo/datos_prueba/CNS_NOC_TOW_PAR_PERD.xlsx
Datos_Historicos/05 - Mayo/datos_prueba/FDD_CNS_NOC_OW_INSTALACIONES.xlsx
Datos_Historicos/05 - Mayo/datos_prueba/GIDI_POZO.xlsx
Datos_Historicos/05 - Mayo/datos_prueba/NOC_G&R_PERFIL_UPA_DECLINO - BES.xlsx
Datos_Historicos/05 - Mayo/datos_prueba/NOC_G&R_PERFIL_UPA_DECLINO.xlsx
Datos_Historicos/05 - Mayo/datos_prueba/PA_2025_Activos.xlsx
Datos_Historicos/05 - Mayo/datos_prueba/UPA_actual.xlsx
Datos_Historicos/05 - Mayo/datos_prueba/UPA_anterior.xlsx
Datos_Historicos/05 - Mayo/datos_prueba/UPS_DIM_COMPLETACION.xlsx
Datos_Historicos/05 - Mayo/datos_prueba/UPS_FT_CABEZA_POZO.xlsx
Datos_Historicos/05 - Mayo/datos_prueba/UPS_FT_PROY_CONSULTA_ACTIVIDAD.xlsx
Datos_Historicos/05 - Mayo/Resultados/1) Curva_perdidas_cierre_UPA_actual.xlsx
Datos_Historicos/05 - Mayo/Resultados/Perdidas_EDT_conocidas.xlsx
Datos_Historicos/05 - Mayo/Resultados/Pozos_BIF_CBM_campanas_filtradas.xlsx
Datos_Historicos/05 - Mayo/Resultados/Tabla_pivot_EDT_Conocidas.xlsx
Datos_Historicos/05 - Mayo/Resultados/UPA_limitada_recursos.xlsx
Datos_Historicos/05 - Mayo/Resultados/UPA_sin_limite_recurso.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Abril/Pozos_BIF_CBM_campanas_filtradas.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Abril/UPA_limitada_recursos_ADCH.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Abril/UPA_sin_limite_recurso_ADCH.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Febrero/Aseguramiento - Pozos a revisar cabezal.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Febrero/Aseguramiento - Pozos para asegurar.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Febrero/curva_EDT_conocidas_pivot.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Febrero/curva_EDT_conocidas.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Febrero/EDT_proyectada.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Febrero/PA_limitado.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Febrero/PA_sin_limite.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/1) Curva_perdidas_cierre_UPA_actual.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/Aseguramiento - Pozos a revisar cabezal_PA.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/Aseguramiento - Pozos para asegurar_PA.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/Curva_perdidas_cierre_UPA_actual.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/Perdidas_EDT_conocidas.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/Pozos_BIF_CBM_campanas_filtradas.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/Pozos_con_interferencias.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/Pozos_con_rodlock.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/Pozos_sin_rodlock.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/Resultado_UPA_necesidad_2025_PA_AdCh.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/Resultado_UPA_necesidad_2025.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/Tabla_pivot_EDT_Conocidas.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/UPA_limitada_recursos_BES.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/UPA_limitada_recursos_PA_AdCh.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/UPA_limitada_recursos.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/UPA_sin_limite_recurso_BES.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/UPA_sin_limite_recurso.xlsx
Datos_Historicos/05 - Mayo/Resultados/2025/Run_Marzo/UPA_sin_limite_recursos_PA_AdCh.xlsx
datos_procesados/actividad_aseguramiento.parquet
datos_procesados/CNS_NOC_PI.parquet
datos_procesados/CNS_NOC_TOW_CONTROLES.parquet
datos_procesados/CNS_NOC_TOW_PAR_PERD.parquet
datos_procesados/FDD_CNS_GRALO_FDP_DIAGNOSTICO_ultimos.parquet
datos_procesados/FDD_CNS_NOC_OW_INSTALACIONES_ultimos.parquet
datos_procesados/FDD_CNS_NOC_OW_INSTALACIONES.parquet
datos_procesados/GIDI_POZO.parquet
datos_procesados/NOC_GR_PERFIL_UPA_DECLINO.parquet
datos_procesados/PA_2025_Activos.parquet
datos_procesados/ULTIMA_UPA.parquet
datos_procesados/UPA_actual.parquet
datos_procesados/UPS_DIM_COMPLETACION.parquet
datos_procesados/UPS_FT_CABEZA_POZO_filtrado.parquet
datos_procesados/UPS_FT_PROY_CONSULTA_ACTIVIDAD.parquet
datos_prueba/CNS_NOC_LOC_PAD.xlsx
datos_prueba/CNS_NOC_PI.xlsx
datos_prueba/CNS_NOC_TOW_CONTROLES.xlsx
datos_prueba/CNS_NOC_TOW_PAR_PERD.xlsx
datos_prueba/FDD_CNS_GRALO_FDP_DIAGNOSTICO.xlsx
datos_prueba/FDD_CNS_NOC_OW_INSTALACIONES.xlsx
datos_prueba/GIDI_POZO.xlsx
datos_prueba/NOC_G&R_PERFIL_UPA_DECLINO - BES.xlsx
datos_prueba/NOC_G&R_PERFIL_UPA_DECLINO.xlsx
datos_prueba/PA_2025_Activos.xlsx
datos_prueba/UPA_actual.xlsx
datos_prueba/UPA_anterior.xlsx
datos_prueba/UPS_DIM_COMPLETACION.xlsx
datos_prueba/UPS_FT_CABEZA_POZO.xlsx
datos_prueba/UPS_FT_PROY_CONSULTA_ACTIVIDAD.xlsx
Excels versiones anteriores/Aseguramiento - Pozos a revisar cabezal_PA AdCh.xlsx
Excels versiones anteriores/Aseguramiento - Pozos a revisar cabezal.xlsx
Excels versiones anteriores/Aseguramiento - Pozos para asegurar_PA AdCh.xlsx
Excels versiones anteriores/Aseguramiento - Pozos para asegurar.xlsx
Excels versiones anteriores/candidatos_BES_actualizados.xlsx
Excels versiones anteriores/Candidatos_UPA_BIF_CBM_run_5.xlsx
Excels versiones anteriores/Candidatos_UPA_BIF_CBM_run_2024_06.xlsx
Excels versiones anteriores/Candidatos_UPA_BIF_CBM_run_2024.xlsx
Excels versiones anteriores/Candidatos_UPA_BIF_CBM.xlsx
Excels versiones anteriores/CNS_NOC_PI.xlsx
Excels versiones anteriores/CNS_NOC_TOW_CONTROLES.xlsx
Excels versiones anteriores/CNS_NOC_TOW_PAR_PERD.xlsx
Excels versiones anteriores/curva_EDT_conocidas_pivot.xlsx
Excels versiones anteriores/EDT_proyectada.xlsx
Excels versiones anteriores/FDD_CNS_NOC_OW_INSTALACIONES.xlsx
Excels versiones anteriores/PA_limitado.xlsx
Excels versiones anteriores/PA_sin_limite.xlsx
Excels versiones anteriores/Perdidas_EDT_conocidas.xlsx
Excels versiones anteriores/Resultado_UPA_2025.xlsx
Excels versiones anteriores/Resultado_UPA_necesidad_2025_PA_AdCh.xlsx
Excels versiones anteriores/Resultado_UPA_necesidad_2025.xlsx
Excels versiones anteriores/Resultado_UPA_necesidad.xlsx
Excels versiones anteriores/Resultado_UPA_prueba_2.xlsx
Excels versiones anteriores/Resultado_UPA_prueba_3.xlsx
Excels versiones anteriores/Resultado_UPA_prueba_4.xlsx
Excels versiones anteriores/Resultado_UPA_prueba.xlsx
Excels versiones anteriores/Resultado_UPA_run_5_Recursos_infinitos.xlsx
Excels versiones anteriores/Resultado_UPA_run_6_limite_reales.xlsx
Excels versiones anteriores/Resultado_UPA.xlsx
Excels versiones anteriores/Resultados aloc 2.xlsx
Excels versiones anteriores/Resultados aloc 3.xlsx
Excels versiones anteriores/Resultados aloc.xlsx
Excels versiones anteriores/resumen_mensual_EDT_PU.xlsx
Excels versiones anteriores/UPA_sin_limite.xlsx
Excels versiones anteriores/UPS_DIM_COMPLETACION.xlsx
Excels versiones anteriores/UPS_FT_CABEZA_POZO.xlsx
Excels versiones anteriores/UPS_FT_PROY_CONSULTA_ACTIVIDAD.xlsx
Notebooks_viejas/UPA_calculator.ipynb
Notebooks_viejas/UPA_candidatos_002.ipynb
Notebooks_viejas/UPA_candidatos.ipynb
Resultados/1) Curva_perdidas_cierre_UPA_actual.xlsx
Resultados/Curva_perdidas_cierre_UPA_actual.xlsx
Resultados/Perdidas_EDT_conocidas.xlsx
Resultados/Pozos_BIF_CBM_campanas_filtradas.xlsx
Resultados/Reporte_Mensual_Planes_UPA_graficos.xlsx
Resultados/Reporte_Mensual_Planes_UPA.xlsx
Resultados/Tabla_pivot_EDT_Conocidas.xlsx
Resultados/UPA_limitada_recursos_detalle_pozos.xlsx
Resultados/UPA_limitada_recursos_resumen.xlsx
Resultados/UPA_limitada_recursos.xlsx
Resultados/UPA_sin_limite_detalle_pozos.xlsx
Resultados/UPA_sin_limite_recurso.xlsx
Resultados/2025/Run_Abril/Pozos_BIF_CBM_campanas_filtradas.xlsx
Resultados/2025/Run_Abril/UPA_limitada_recursos_ADCH.xlsx
Resultados/2025/Run_Abril/UPA_sin_limite_recurso_ADCH.xlsx
Resultados/2025/Run_Febrero/Aseguramiento - Pozos a revisar cabezal.xlsx
Resultados/2025/Run_Febrero/Aseguramiento - Pozos para asegurar.xlsx
Resultados/2025/Run_Febrero/curva_EDT_conocidas_pivot.xlsx
Resultados/2025/Run_Febrero/curva_EDT_conocidas.xlsx
Resultados/2025/Run_Febrero/EDT_proyectada.xlsx
Resultados/2025/Run_Febrero/PA_limitado.xlsx
Resultados/2025/Run_Febrero/PA_sin_limite.xlsx
Resultados/2025/Run_Marzo/1) Curva_perdidas_cierre_UPA_actual.xlsx
Resultados/2025/Run_Marzo/Aseguramiento - Pozos a revisar cabezal_PA.xlsx
Resultados/2025/Run_Marzo/Aseguramiento - Pozos para asegurar_PA.xlsx
Resultados/2025/Run_Marzo/Curva_perdidas_cierre_UPA_actual.xlsx
Resultados/2025/Run_Marzo/Perdidas_EDT_conocidas.xlsx
Resultados/2025/Run_Marzo/Pozos_BIF_CBM_campanas_filtradas.xlsx
Resultados/2025/Run_Marzo/Pozos_con_interferencias.xlsx
Resultados/2025/Run_Marzo/Pozos_con_rodlock.xlsx
Resultados/2025/Run_Marzo/Pozos_sin_rodlock.xlsx
Resultados/2025/Run_Marzo/Resultado_UPA_necesidad_2025_PA_AdCh.xlsx
Resultados/2025/Run_Marzo/Resultado_UPA_necesidad_2025.xlsx
Resultados/2025/Run_Marzo/Tabla_pivot_EDT_Conocidas.xlsx
Resultados/2025/Run_Marzo/UPA_limitada_recursos_BES.xlsx
Resultados/2025/Run_Marzo/UPA_limitada_recursos_PA_AdCh.xlsx
Resultados/2025/Run_Marzo/UPA_limitada_recursos.xlsx
Resultados/2025/Run_Marzo/UPA_sin_limite_recurso_BES.xlsx
Resultados/2025/Run_Marzo/UPA_sin_limite_recurso.xlsx
Resultados/2025/Run_Marzo/UPA_sin_limite_recursos_PA_AdCh.xlsx
Script_viejos/UPA_APP_2.py
Script_viejos/UPA_APP.py
.UPA_candidatos.py.swp
Candidatos_BES.ipynb
CONVERTIDO.xlsx
DataModel.db
PA_2025_Oficial.xlsx
Perdidas_diferimiento_beta.ipynb
Perdidas_diferimiento.py
pozos.py
requirements.txt
Revision_datos_pozos.pbix
schedule_generator_UPA.py
Untitled.ipynb
UPA_candidatos.py
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/UPA_candidatos_002-checkpoint.ipynb
.ipynb_checkpoints/UPA_candidatos-checkpoint.ipynb
__pycache__/pozos.cpython-311.pyc
UPA_Revision_datos_pozos.pbix
